@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:wght@500&family=Manrope:wght@600&family=Montserrat:wght@700&family=Open+Sans&family=Roboto&family=Roboto+Condensed&family=Space+Mono&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #dddddd;
    --text-secondary: #fafafa;
    --bg-primary: #0099ff;
    --bg-secondary: #2B4F8D  ;/*#2B4F8D*/ /*#0059ff*/
    --transition-speed: 600ms;
}

body{
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    background: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #011034;
}

body::-webkit-scrollbar-thumb{
    background: #02C9AF;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 270ms ease;
}

.navbar__nav{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav__item{
    width: 100%;
}

.nav__item svg{
  filter: brightness(0) invert(1);
}

.nav__item:last-child{
    margin-top: auto;
}

.nav__link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav__link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav__link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}

.fa-primary {
    color: #0086d3;
}

.fa-secondary{
    color: #005bd3;
}

.fa-primary,
.fa-secondary{
    transition: var(--transition-speed);
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  /*footer start*/

  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }

  footer{
    margin-left: 5rem ;
    min-height: 150px;
    background-color: #0099ff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.footer__text{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px; 
    letter-spacing: -0.5px;
    margin-left: 20px;
}

.social-medias{
    display: flex;
    margin-right: 20px;
}

.social-medias li{
    list-style: none;
    padding-right: 43px;
}

.social-medias li a ion-icon{
    text-decoration: none;
    width: 30px;
    height: 30px;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.social-medias .logo-whatsapp li a ion-icon:hover{
    color: rgb(0, 255, 21);
}


.social-medias .logo-facebook li a ion-icon:hover{
    color: rgb(0, 102, 255);
}

.social-medias .logo-Twitter li a ion-icon:hover{
    color: rgb(0, 140, 255);
}

.social-medias .logo-Github li a ion-icon:hover{
    color: #000;
}

.social-medias .logo-instagram li a ion-icon:hover{
    color: brown;
}

  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      top: 0;
      width: 100vw;
      height: 5rem;
    }

    .navbar__nav{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      padding-top: 0.5rem;
    }

    .link-text{
      font-size: 16px;
      font-weight: 500;
      margin-left: 0.4rem;
    }

    .nav__link{
      display: flex;
      flex-direction: column;
    }

    .nav__link svg{
      margin: 0 1.1rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar:hover{
      width: 100%;
    }

    .navbar:active{
      width: 100%;
   }

    main {
      padding-top: 5rem;
      margin: 0;
    }

    footer{
      margin-left: 0;
      width: 100%;
    }

    .footer__text{
      font-size: 14px;
    }

    .social-medias{
      margin-right: 16px;
    }
  
  .social-medias li{
      padding-right: 37px;
  }
  
  .social-medias li a ion-icon{
      width: 30px;
      height: 30px;
  }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  